<% if current_patient === Patient.find(params[:id]) %>
  <%= render 'layouts/side-navbar-patient' %>
  <!-- Page Content  -->
  <div id="content">
    <%= render 'layouts/top-navbar-patient' %>
    <div class="container">
      <h2 class="text-center">Mon dashboard</h2>
      <hr class="accent mb-3">
      <h4>Ma courbe d'humeur</h4>
      <%= line_chart @patient_day.group_by_day(:created_at).sum(:mood) %>
      <br>
      <h4>Mon sommeil</h4>
      <%= line_chart @patient_day.group_by_day(:created_at).sum(:hours_of_sleep) %>
    </div>
  </div>
</div>
<% else %>
  <%= render 'layouts/side-navbar-doctor' %>
  <!-- Page Content  -->
  <div id="content">
    <%= render 'layouts/top-navbar-doctor' %>
    <div class="container">
      <br>
      <div class="row">
        <div class="col-1">
          <img src="/notebook.svg" id="logo_notes" >
        </div>
        <div class="col-1">
          <img src="/agenda.svg" id="logo_agenda" >
        </div>
        <div class="col-8">
          <h2 class="text-center">
            <%= "Dashboard du patient: #{Patient.find(params[:id]).first_name} #{Patient.find(params[:id]).last_name}" %>
          </h2>
          <hr class="accent mb-3">
        </div>
        <div class="col-2">
        </div>
      </div>
      <br>
      <br>
      <div>
        <div class="container">
          <div class="row">
            <div class="col-11">
              <h4>Évolution de l'humeur</h4>
            </div>
            <div class="col-1">
              <button class="btn btn-light btn-xl button_color-export">export</button>
            </div>
          </div>
        </div>
        <br>
          <%= line_chart @patient_day.group_by_day(:created_at).sum(:mood), height: "160px" %>
        </div>
        <br>
        <div class="container">
          <div class="row">
            <div class="col-9">
            </div>
            <div class="col-1">
              <button class="btn btn-light btn-xl button_color-periods">Year </button>
            </div>
            <div class="col-1">
              <button class="btn btn-light btn-xl button_color-periods">Month</button>
            </div>
            <div class="col-1">
              <button class="btn btn-light btn-xl button_color-periods">Week </button>
            </div>
          </div>
        </div>
      <br>
      <br>
      <br>
      <div>
        <div class="container">
          <div class="row">
            <div class="col-11">
              <h4>Durée de sommeil</h4>
            </div>
             <div class="col-1">
              <button class="btn btn-light btn-xl button_color-export">export</button>
            </div>
          </div>
        </div>
            <br>
              <%= line_chart @patient_day.group_by_day(:created_at).sum(:hours_of_sleep), height: "160px", points: false, dataset: {borderWidth: 4} %>
            </div>
            <br>
            <div class="container">
          <div class="row">
            <div class="col-9">
            </div>
            <div class="col-1">
              <button class="btn btn-light btn-xl button_color-periods">Year </button>
            </div>
            <div class="col-1">
              <button class="btn btn-light btn-xl button_color-periods">Month</button>
            </div>
            <div class="col-1">
              <button class="btn btn-light btn-xl button_color-periods">Week </button>
            </div>
          </div>
        </div>
      <br>
      <br>
      <hr class="accent mb-md-3">
      <br>
      <br>
      <div>
        <div class="container">
          <div class="row">
            <div class="col-11">
              <h4>Observance du traitement</h4>
            </div>
            <div class="col-1">
              <button class="btn btn-light btn-xl button_color-export">export</button>
            </div>
          </div>
        </div>
        <br>
        <%= column_chart @patient_day.group_by_day(:created_at).sum(:treatment), height: "120px", label: "Value" %>
      </div>
      <br>
      <div class="container">
          <div class="row">
            <div class="col-9">
            </div>
            <div class="col-1">
              <button class="btn btn-light btn-xl button_color-periods">Year </button>
            </div>
            <div class="col-1">
              <button class="btn btn-light btn-xl button_color-periods">Month</button>
            </div>
            <div class="col-1">
              <button class="btn btn-light btn-xl button_color-periods">Week </button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<% end %>
