<% if current_patient === Patient.find(params[:id]) %>
  <%= render 'layouts/side-navbar-patient' %>
  <!-- Page Content  -->
  <div id="content">
    <%= render 'layouts/top-navbar-patient' %>
    <div class="container">
      <h2 class="text-center">Mon dashboard</h2>
      <hr class="accent mb-3">
      <h4>Ma courbe d'humeur</h4>
      <%= line_chart @patient_day.group_by_day(:created_at).sum(:mood) %>
      <br>
      <h4>Mon sommeil</h4>
      <%= line_chart @patient_day.group_by_day(:created_at).sum(:hours_of_sleep) %>
    </div>
  </div>
</div>
<% else %>
  <%= render 'layouts/side-navbar-doctor' %>
  <!-- Page Content  -->
  <div id="content">
    <%= render 'layouts/top-navbar-doctor' %>
    <div class="container">
      <br>
      <h2 class="text-center">
        <%= "Dashboard du patient: #{Patient.find(params[:id]).first_name} #{Patient.find(params[:id]).last_name}" %>
      </h2>
      <hr class="accent mb-3">
      <div>
        <h4>Évolution de l'humeur</h4>
        <%= line_chart @patient_day.group_by_day(:created_at).sum(:mood), height: "160px", xmin: "2015-06-01", xmax: "2015-06-15" %>
      </div>
      <br>
      <div>
        <h4>Durée de sommeil</h4>
        <%= line_chart @patient_day.group_by_day(:created_at).sum(:hours_of_sleep), height: "160px", points: false, dataset: {borderWidth: 4} %>
      </div>
      <br>
      <div>
        <h4>Observance du traitement</h4>
        <%= column_chart @patient_day.group_by_day(:created_at).sum(:treatment), height: "120px", label: "Value" %>
      </div>
    </div>
  </div>
</div>
<% end %>
