<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="mb-0 text-black d-none d-lg-inline-block">
      Bonjour Docteur <%= current_practionner.last_name %> ! &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= Time.now.strftime("%A %d %b %Y") %></a>
    <!-- User -->
    <div class="dropdown">
      <%if current_practionner.avatar.attached?%>
        <%= image_tag current_practionner.avatar, class:"avatar-md rounded-circle", alt: 'avatar' %>
      <%else%>
        <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p>
      <%end%>
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Mon compte
      </button>
      <div class="dropdown-menu">
         <%= link_to "Mon profil", practionners_path, class:"button_color-bipolink" %><br>
         <%= link_to "Paramètres", edit_practionner_registration_path(current_practionner.id), class:"button_color-bipolink" %>
        <div class="dropdown-divider"></div>
        <%= link_to "Se déconnecter", destroy_patient_session_path, class:"button_color-bipolink", method: :delete %>
      </div>
    </div>
  </div>
</nav>
<!-- Dropdown Toggle -->
<script>
  $('.dropdown-toggle').dropdown()
</script>
<script>
  $(document).ready(function(){
  	$('#nav-icon3').click(function(){
  		$(this).toggleClass('open');
  		});
  	});
</script>